body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  letter-spacing: .5px;
  
}

.container {
  max-width: 230px;
  max-height: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px 0px 10px 0px;
  margin: 200px auto 0 auto;
  border-radius: 12px;
  
}

/*barcode*/
img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 6px;
  margin: 0 auto 0 auto;

 
}

h1 {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}


.para {
  font-size: 11px;
  color: #aaaaaa;
  text-align: center;
 
}
 

 .attribution { 
  padding: 15px;
  text-align: center;
  font-size: 15px; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
  
} 

a:hover {
  color: red;
}

